* {
  box-sizing: border-box;
}

.container {
  margin: 10vh auto;
  border: 1px solid #00204a;
  border-radius: 10px;
  background-color: lightsteelblue;
  padding: 25px 50px;
  font-family: "Montagu Slab", serif;
}

.author-info {
  font-size: 12px;
  letter-spacing: 1px;
  font-style: italic;
  padding: 5px 0;
}
.github-link {
  color: #00204a;
}
.github-link:hover {
  color: #00204a;
}
.active {
  font-size: 32px;
}
